// Globals
html {
  box-sizing: border-box;
}

a {
  color: var(--black);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Utilities
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.none {
  display: none;
}