// Globals
// html {
//   box-sizing: border-box;
// }

body {
  overflow-x: hidden;
}

a {
  color: var(--black);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Utilities
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.none {
  display: none;
}

// Components