@use '../../base/mixins';

.header {
  width: 100%;
  height: auto;
  // position: sticky;
  // top: 0;
  // z-index: 999;
  background-color: var(--white);

  & .container {
    display: flex;
    flex-direction: column;
    position: relative;

    & .contacts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      @include mixins.toRem('padding-top', 12);
      @include mixins.toRem('margin-bottom', 12);

      @include mixins.media(md) {
        padding: 12px 22px;
        justify-content: space-between;
      }

      & .contacts-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        & .contact__email {
          display: flex;
          align-items: center;
          gap: 5px;

          & .contact-email_icon {
            font-size: 18px;
          }
  
          & a {
            @include mixins.toRem('font-size', 12);
          }

          @include mixins.media(md) {
            & .contact-email_icon {
              font-size: 24px;
            }

            & a {
              @include mixins.toRem('font-size', 14);
            }
          }
        }
  
        & .contact__phone {
          display: flex;
          justify-items: center;
          gap: 5px;
  
          & .phones {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2px;

            & .contact-wpp_icon {
              font-size: 18px;
            }
  
            & a {
              @include mixins.toRem('font-size', 10);
            }

            @include mixins.media(md) {
              & .contact-wpp_icon {
                font-size: 24px;
              }
  
              & a {
                @include mixins.toRem('font-size', 14);
              }
            }
          }
        }
      }

      & .contacts__social {
        display: none;

        @include mixins.media(md) {
          display: flex;

          & .contact-fa_icon {
            font-size: 24px;
            margin-right: 1rem;
            cursor: pointer;
          }

          & .contact-ig_icon {
            font-size: 24px;
            cursor: pointer;
          }
        }
      }
    }

    & .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      width: 100%;
      padding: 0 20px;
      @include mixins.toRem('height', 48); 

      @include mixins.media(md) {
        padding: 0 22px;
        @include mixins.toRem('height', 65);
      }

      & .content__img {
        @include mixins.toRem('width', 80);
        @include mixins.toRem('height', 32);
        margin: 0;

        @include mixins.media(md) { // Tablet
          @include mixins.toRem('width', 120);
          @include mixins.toRem('height', 48);
        }
      }

      & .content__search {
        width: 50%;
        position: relative;

        & .search__icon {
          @include mixins.toRem('width', 12);
          @include mixins.toRem('height', 12);
          @include mixins.toRem('top', 5.5);
          @include mixins.toRem('left', 6);
          position: absolute;

          @include mixins.media(md) { // Tablet
            @include mixins.toRem('width', 18);
            @include mixins.toRem('height', 18);
            @include mixins.toRem('top', 11);
            @include mixins.toRem('left', 10);
          }
        }

        & .searcher {
          width: 100%;
          height: auto;
          @include mixins.toRem('max-width', 579);
          @include mixins.toRem('font-size', 9);
          padding: 4px 6px 4px 20px;
          border-radius: 25px;
          border: 1px solid var(--gray);

          @include mixins.media(md) { // Tablet
            height: 40px;
            @include mixins.toRem('font-size', 16);
            padding: 4px 6px 4px 30px;
          }
        }
      }

      & .content__icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        @include mixins.toRem('width', 78);

        & .icon__menu {
          cursor: pointer;
        }

        @include mixins.media(md) { // Tablet
          gap: 16px;

          & .icon__menu {
            @include mixins.toRem('width', 20);
            @include mixins.toRem('height', 20);
            cursor: pointer;
            
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}