.inputSearch__ctn {
  width: 100%;
  max-width: 300px;
  position: relative;

  & .inputSearch__icon {
    top: 10px;
    left: 8px;
    position: absolute;
  }

  & .inputSearch {
    width: 100%;
    height: 100%;
    padding: 8px 16px 8px 32px;
    border-radius: 12px;
    border: 1px solid var(--black);
    background-color: var(--white);
  }
}