@use '../../base/mixins';

.form__login {
  & .login__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 10px;
  }

  & .login__subtitle {
    font-size: 10px;
    margin-bottom: 22px;
  }

  // Footer
  .footer__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    & .link__forgot {      
      font-size: 10px;
      font-weight: 400;
      margin-bottom: .625rem;

      & span {
        cursor: pointer;
        color: var(--gray);
        text-decoration: underline;
      }
    }

    & span {
      color: var(--gray);
      font-size: 10px;
      margin: 5px 0;
    }

    & .link__register {
      color: var(--gray);
      font-size: 10px;
      font-weight: 400;

      & span {
        cursor: pointer;
        color: var(--gray);
        text-decoration: underline;
      }
    }
  }
}
