@use '../../base/mixins';

.form__login {
  & .login__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 10px;

    // Tablet
    @include mixins.media(md) {
      font-size: 1.25rem;
      margin-bottom: .875rem;
    }
  }

  & .login__subtitle {
    font-size: 10px;
    margin-bottom: 22px;

    // Tablet
    @include mixins.media(md) {
      font-size: 1rem;
    }
  }

  // Footer
  .footer__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    & .link__forgot {            
      font-weight: 400;
      margin-bottom: .625rem;

      & span {
        cursor: pointer;
        font-size: 10px;
        color: var(--gray);
        text-decoration: underline;

        // Tablet
        @include mixins.media(md) {
          font-size: 14px;
        }
      }
    }

    & span {
      color: var(--gray);
      font-size: 10px;
      margin: 5px 0;

      // Tablet
      @include mixins.media(md) {
        font-size: 14px;
      }
    }

    & .link__register {
      color: var(--gray);
      font-weight: 400;
      font-size: 10px;

      // Tablet
      @include mixins.media(md) {
        font-size: 14px;
      }

      & span {
        cursor: pointer;
        color: var(--gray);
        font-size: 10px;
        text-decoration: underline;

        // Tablet
        @include mixins.media(md) {
          font-size: 14px;
        }
      }
    }
  }
}
