$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1024px;

@mixin media($media) {
  @if $media == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
  @else if $media == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  }
}

@mixin toRem($property, $value) {
  #{$property}: calc($value / 16) + rem;
}