@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), url('../../assets/fonts/GOTHIC.TTF') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  font-weight: 700;
  src: local('Century Gothic'), url('../../assets/fonts/GOTHICB.TTF') format('truetype');
}

:root {
  // Fonts
  --Lato: 'Lato', sans-serif;
  --Gothic: 'Century Gothic';

  // Primary colors
  --black: #000000;
  --white: #FFFFFF;

  // Grays
  --gray: #B3B3B3;
  --gray-light: #D9D9D9;
}